body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(0, 0, 0);
}

.header {
    background-color: rgb(0, 0, 0);
    color: rgb(248, 248, 248);
    padding: 20px;
}

.gray{
    background-color: rgb(45, 45, 45);
}

.orange{
    background-color: rgb(255, 138, 235);
}


.screen input {
  background-color: #2d2d2d;
  color: rgb(255, 255, 255);
  height: 90px;
  width: 300px;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 20px;
}

.keypad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.keypad table {
  border-spacing: 10px;
  margin: 0 auto;
}


.buttons {
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50%;
  color: white;

}
